absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.14
aiosignal==1.4.0
alabaster==1.0.0
annotated-types==0.7.0
attrs==25.3.0
auraloss==0.3.0
babel==2.17.0
beautifulsoup4==4.13.4
bleach==6.2.0
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.1
contourpy==1.3.2
cssselect==1.3.0
cycler==0.12.1
dnspython==2.7.0
docutils==0.21.2
dotenv==0.9.9
email_validator==2.2.0
filelock==3.18.0
fonttools==4.58.5
frozenlist==1.7.0
fsspec==2025.7.0
grpcio==1.73.1
hf-xet==1.1.5
huggingface-hub==0.33.4
idna==3.10
imagesize==1.4.1
Jinja2==3.1.6
kaggle==1.7.4.5
kiwisolver==1.4.8
lightning-utilities==0.14.3
lxml==5.4.0
lxml_html_clean==0.4.2
macnotesapp==0.8.0
Markdown==3.8.2
markdown-it-py==3.0.0
markdown2==2.5.4
markdownify==0.14.1
MarkupSafe==3.0.2
matplotlib==3.10.3
mdurl==0.1.2
mpmath==1.3.0
multidict==6.6.3
networkx==3.5
numpy==2.2.6
packaging==25.0
pandas==2.3.0
pillow==11.2.1
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==6.30.2
py-applescript==1.0.3
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pyobjc-core==11.1
pyobjc-framework-AppleScriptKit==11.1
pyobjc-framework-AppleScriptObjC==11.1
pyobjc-framework-Cocoa==11.1
pyobjc-framework-ScriptingBridge==11.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
python-slugify==8.0.4
pytorch-lightning==2.5.2
pytz==2025.2
PyYAML==6.0.2
questionary==2.1.0
readability-lxml==0.8.4.1
regex==2024.11.6
requests==2.32.3
rich==14.0.0
roman-numerals-py==3.1.0
rumps==0.4.0
safetensors==0.5.3
setuptools==80.4.0
six==1.17.0
snowballstemmer==3.0.1
sounddevice==0.5.2
soupsieve==2.7
Sphinx==8.2.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sympy==1.14.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
text-unidecode==1.3
tokenizers==0.21.2
toml==0.10.2
torch==2.7.1
torchmetrics==1.7.4
tqdm==4.67.1
transformers==4.53.2
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
validators==0.35.0
wavio==0.0.9
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.45.1
xdg-base-dirs==6.0.2
yarl==1.20.1
